<!--Componente para editar perfil del usuario-->

<div class="container">
    <div class="row">
        <div class="col-12"> 
            <section class="registro mt-5" style="height: 750px;">
                <img class="logo" src="../assets/images/usuario.png" style="margin-bottom: 20px; width: 150px;">
                <h4 style="text-align: center; margin-top: 5px;">Editar perfíl</h4>
                <h4 style="margin-top: 5px;">Nombre</h4>
                <input type="text" class="input" placeholder="NombreUsuario"><br>
                <h4 style="margin-top: 5px;">Correo</h4>
                <input type="text" class="input" placeholder="ejemplo@gmail.com"><br>
                <h4 style="margin-top: 5px;">Contraseña</h4>
                <input type="text" class="input" placeholder="******"><br>
                <h4 style="margin-top: 5px;">Plan actual</h4>
                <select class="form-control">
                    <option >Seleccione su nuevo plan</option>
                    <option >Plan gratuito</option>
                    <option >Plan socio</option>
                    <option >Plan premium</option>
                </select>
                <div style="margin-top: 30px;">
                 <a  routerLink="/perfilUsuario"><button type="button" class="btn btn-success" style="margin-right: 10px;">Editar</button></a>
                 <a  routerLink="/home"><button type="button" class="btn btn-primary">Cancelar</button></a>
               </div>
            </section>
        </div>
    </div>
</div>
        
       
           
        


