<!--Componente para editar perfil del usuario-->

<div class="container">
    <div class="row">
        <div class="col-12"> 
            <section class="registro mt-5" style="height: 1000px;">
                <img class="logo" src="../assets/images/usuario.png" style="margin-bottom: 20px; width: 150px;">
                <h4 style="text-align: center; margin-top: 5px;">Editar perfíl</h4>

                <form [formGroup]="formularioEditarPerfil">
                        <h4 style="margin-top: 5px;" class="letra">Nombre</h4>
                        <input type="text" class="input" placeholder="NombreUsuario" formControlName="nombre"><br>
                        <div class="divError"  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <span *ngIf="nombre.errors.required"> * Campo obligatorio</span>
                            <span *ngIf="nombre.errors.maxlength">* Máximo  20 caracteres</span>
                        </div>

                        <h4 style="margin-top: 5px;" class="letra">Apellido</h4>
                        <input type="text" class="input" placeholder="NombreUsuario" formControlName="apellido"><br>
                        <div class="divError"  *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                            <span *ngIf="apellido.errors.required"> * Campo obligatorio</span>
                            <span *ngIf="apellido.errors.maxlength">* Máximo  20 caracteres</span>
                        </div>

                        <h4 style="margin-top: 5px;" class="letra">Correo</h4>
                        <input type="text" class="input" placeholder="ejemplo@gmail.com" formControlName="correoEditar"><br>
                        <div class="divError"  *ngIf="correoEditar.invalid && (correoEditar.dirty || correoEditar.touched)">
                            <span *ngIf="correoEditar.errors.required"> * Campo obligatorio</span>
                            <span *ngIf="correoEditar.errors.pattern">* Correo Inváliddo</span>
                        </div>

                        <h4 style="margin-top: 5px;" class="letra">Contraseña</h4>
                        <input type="password" class="input" placeholder="******" formControlName="claveEditar"><br>
                        <div class="divError"  *ngIf="claveEditar.invalid && (claveEditar.dirty || claveEditar.touched)">
                            <span *ngIf="claveEditar.errors.required"> * Campo obligatorio</span>
                            <span *ngIf="claveEditar.errors.maxlength">* Máximo  20 caracteres</span>
                        </div>

                        

                        
                        <h4 style="margin-top: 5px;" class="letra">Plan actual</h4>
                        <select class="form-control" formControlName="nuevoPlan">
                            <option >Seleccione su nuevo plan</option>
                            <option >Plan gratuito</option>
                            <option >Plan socio</option>
                            <option >Plan premium</option>
                        </select>
                        <div class="divError"  *ngIf="nuevoPlan.invalid && (nuevoPlan.dirty || nuevoPlan.touched)">
                            <span *ngIf="nuevoPlan.errors.required"> * Campo obligatorio</span>
                        </div>
                </form>

                <div style="margin-top: 30px;">
                 <a  routerLink="/perfilUsuario"><button type="button" class="btn btn-success" [disabled] = "!formularioEditarPerfil.valid" style="margin-right: 10px;">Editar</button></a>
                 <a  routerLink="/home"><button type="button" class="btn btn-primary">Cancelar</button></a>
               </div>


            </section>
        </div>
    </div>
</div>
        
       
           
        


