<!--<router-outlet>trabajar aqui</router-outlet>-->
<!--<app-registro-usuarios></app-registro-usuarios>-->
<!--<app-iniciar-sesion></app-iniciar-sesion>-->
<!--<app-home></app-home>-->
<!--<app-perfil-usuario></app-perfil-usuario>-->
<app-editar-perfil></app-editar-perfil>







  <!--  <nav class="navbar navbar-expand-md fixed-top barraHome">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <img src="../assets/images/logo.png" class="ml-2">

            <form class="form-inline my-2 my-lg-0" style="margin-left: auto;">
            <a href="vistas/iniciarSesion.html" class="letra"><h4> Iniciar sesión </h4></a>
            <a href="vistas/registro.html" class="letra"><h4> Registrarse</h4></a>
            </form>
        </div>
        </nav>
        
        <main role="main" class="mt-3 mb-3 ml-5">

            <div class="container-fluid">
    
            <div class="row" style="margin-top: 125px;">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="card mb-3 tarjeta">
                        <img src="../assets/images/img1.jpg" class="card-img-top foto">
                        <div class="card-body">
                          <h3 class="card-title">¿Necesitas ayuda?</h3>
                          <p class="card-text">Codem esta aqui para ayudarte, conoce nuestro sitio y comienza la aventura</p>
                          <p class="card-text"><small class="text-muted">Tu mejor opción es Codem</small></p>
                        </div>
                      </div>
                </div>

                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="card mb-3 tarjeta">
                        <img src="../assets/images/img2.jpg" class="card-img-top foto"  style="width: 698px; height: 327.36px;">
                        <div class="card-body">
                         <h3 class="card-title">Piésalo, pruébalo y créalo</h3>
                          <p class="card-text">Crea tus proyectos y ejecutalos en tiempo real sin complicaciones</p>
                          <p class="card-text"><small class="text-muted">Tu mejor opción es Codem</small></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12"> 
                    <h1 style="text-align: center; color: #2a94d6;;">Conoce nuestros servicios</h1>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3"> 
                    <div class="card tarjeta1">
                        <img src="../assets/images/gratis.png" class="card-img-top foto2">
                        <div class="card-body">
                          <h4 class="card-title letra2">Plan gratuito</h4>
                          <p class="card-text">Este plan te permite gestinar 3 proyectos sin ninguna restricción.</p>
                        </div>
                      </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3"> 
                    <div class="card tarjeta1">
                        <img src="../assets/images/socio.jpg" class="card-img-top foto2">
                        <div class="card-body">
                          <h4 class="card-title letra2">Plan socio</h4>
                          <p class="card-text">Por la modica cantidad de $39.99 al mes podras gestionar hasta 20 proyectos</p>
                        </div>
                      </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3"> 
                    <div class="card tarjeta1">
                        <img src="../assets/images/premium.png" class="card-img-top foto2">
                        <div class="card-body">
                          <h4 class="card-title letra2">Plan premium</h4>
                          <p class="card-text">Nuestro mejor plan te permitira gestionar hasta 70 proyectos por $99.99 al mes</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </main><!-- /.container -->
      