<!--Componente para ver el perfil del usuario-->


<div class="container">
    <div class="row">
            <div class="col-12">
                <section class="registro mt-5" style="height: 750px;">

                    <img class="logo" src="../assets/images/usuario.png" style="margin-bottom: 20px; width: 150px;">
                    <h4 style="text-align: center; margin-top: 5px;" class="letra">Perfíl usuario</h4>
                    <h4 style="margin-top: 5px;" class="letra">Nombre</h4>
                    <h4 style="margin-top: 5px;">Nombre usuario</h4>

                    

                    <h4 style="margin-top: 5px;" class="letra">Correo</h4>
                    <h4 style="margin-top: 5px;">Correo usuario</h4>
                    

                    <h4 style="margin-top: 5px;" class="letra">Contraseña</h4>
                    <h4 style="margin-top: 5px;">Clave usuario</h4>
                
                    <h4 style="margin-top: 5px;" class="letra">Plan actual</h4>
                    <h5 style="margin-top: 5px;">Gratuito</h5>
                    
                        <div style="margin-top: 30px;">
                        <a routerLink="/editarUsuario"><button type="button" class="btn btn-success" style="margin-right: 10px;">Editar</button></a>
                        <a routerLink="/home"><button type="button" class="btn btn-primary">Cancelar</button></a>
                        </div>
                </section>
            </div>
    </div>
</div>
    
   
       
    



