<!--Componente para home o espacio de trabajo-->


    <nav class="navbar navbar-expand-md fixed-top barraHome">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <img src="../assets/images/logo.png" class="ml-2">

            <form class="form-inline my-2 my-lg-0" style="margin-left: auto;">
                <img src="../assets/images/usuario.png" class="ml-auto" style="width: 100px;">
                <a class="nav-link" (click)="modalOpcionesUsuario(opcionesUsuario)"><h6 class="letra">Nombre Usuario</h6></a>
            </form>
        </div>
        </nav>

        <main role="main" style="margin-left: 30px; margin-right: 30px;">

            <div class="container-fluid" style="margin-top: 150px;">
    
                <div class="row" style="margin-top: 30px;">
                        
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: blueviolet;">
                            <h1>Html</h1>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: blue;">
                            <h1>Css</h1>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: green;">
                            <h1>JS</h1>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: gray;">
                            <h1>Pagina web</h1>
                        </div>
                        
                </div>
        
        </div>
        

        </main><!-- /.container -->

        
          
          <!-- perfil NgbModal -->
         
          <ng-template #opcionesUsuario let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Opciones de usuario</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click en x')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <a class="nav-link" routerLink="/perfilUsuario" (click)="modal.close('cerrar modal')"><h6 class="letra" style="color: black;">Ver perfíl</h6></a><hr>
                <a class="nav-link" routerLink="/landingPage" (click)="modal.close('cerrar modal')"><h6 class="letra" style="color: black;">Cerrar sesión</h6></a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('cerrar  opciones de usuario')">Cerrar</button>
            </div>
          </ng-template>
          