<!--Componente para home o espacio de trabajo-->


    <nav class="navbar navbar-expand-md fixed-top barraHome">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <img src="../assets/images/logo.png" class="ml-2">

            <form class="form-inline my-2 my-lg-0" style="margin-left: auto;">
                <img src="../assets/images/usuario.png" class="ml-auto" style="width: 100px;">
                <a data-toggle="modal" data-target="#perfilModal"><h6 class="letra">Nombre Usuario</h6></a>
            </form>
        </div>
        </nav>

        <main role="main" style="margin-left: 30px; margin-right: 30px;">

            <div class="container-fluid" style="margin-top: 150px;">
    
                <div class="row" style="margin-top: 30px;">
                        
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: blueviolet;">
                            <h1>Html</h1>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: blue;">
                            <h1>Css</h1>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: green;">
                            <h1>JS</h1>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="background-color: gray;">
                            <h1>Pagina web</h1>
                        </div>
                        
                </div>
        
        </div>
        <!-- 

        <div class="footer">
            <h5 class="ml-auto mr-auto">powered by Codem</h5>
            <h6>@copyright 2021</h6>
        </div>
        -->

        </main><!-- /.container -->

        
          
          <!-- perfilModal -->
          <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-body">
                    <a href="../vistas/perfilUsuario.html"><h5 class="letra" style="color: black;">Ver perfíl</h5></a><hr>
                    <a href="../../Proyecto-Desarrollo-Web/index.html"><h5 class="letra" style="color: black;">Cerrar sesión</h5></a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

